[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
tqdm = "*"
vxi11 = {git = "https://github.com/mileslucas/python-vxi11"}
slackclient = "*"
pyserial = "*"

[requires]
python_version = "3.7"
